body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fdfcfc;
}

header {
    background-color: #6a1b1a;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    /* <- permite que los hijos salten de línea */
    justify-content: space-between;
    align-items: center;
}

#logo {
    flex: 1 1 250px;
    /* <- permite que se reduzca hasta cierto punto */
    display: flex;
    align-items: center;
}

#logo img {
    width: 100px;
    margin-right: 10px;
}

.nav-container {
    flex: 1 1 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
    
}

nav a:hover {
  font-size: 20px;
}


.icono-carrito {
    font-size: 1.2rem;
    margin-left: 1rem;
    cursor: pointer;
}
.icono-carrito img{
    width: 40px;
}

.banner {
    background-color: #833131;
    color: white;
    text-align: center;
    padding: 3rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.banner h2{
     font-size: 40px;
}

.banner img{
    width: 100px;
    margin-left: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    padding: 2rem;
    flex: 1;

}

.tarjeta {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
}

.tarjeta:hover {
    transform: scale(1.02);
}

.tarjeta img {
    width: 100%;
    height: 200px;
}

.tarjeta-contenido {
    padding: 1em;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

.tarjeta-contenido h3 {
    margin-top: 0;
    color: #6a1b1a;
}


.tarjeta-contenido p {
    margin: 0 0 0.5em 0;
  
}

.tarjeta-contenido .precio {
    margin: 0 0 0.5em 0;
}

.footer {
    background-color: #4a0e0e;
    color: white;
    text-align: center;
    padding: 1rem;
}

.boton-carrito{
    font-family: 'Montserrat', sans-serif;
    background-color: #ce7d69;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    align-self: center; /* <-- centra horizontalmente dentro del contenedor flex */
    margin-top: auto;   /* <-- empuja el botón hacia abajo */
    transition: background-color 0.3s, transform 0.2s;

}

p.precio{
    font-weight: bold;
    font-size: 20px;
}

.contenedor-principal {
  display: flex;
  padding: 50px;
}

.filtros {
  width: 200px;
  padding: 10px;
  border-right: 2px solid #ccc;
}


.filtros ul {
  list-style: none;
  padding: 0;
}

.filtros ul li {
  margin-bottom: 10px;
}

.filtros button {
  width: 100%;
  padding: 8px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Montserrat', sans-serif;
}

.filtros button:hover {
  background-color: #ddd;
}



